<span>all users listed here wip....</span>
<br/>
<br/>
<span>Player count: <%= characters.count %><span/>
<% characters.each do |character| %>
  <div><%= character.name %></div>
  <br/>
  <div><%= character.current_map %></div>
  <br/>
  <br/>
<% end %>
