<span>Welcome back to Sinite (Space Finite)</span>
<br/>
<br/>
<form action="/characters" method="post">
  <input type="hidden" name="authenticity_token" value='<%= env.session.string("csrf") %>'>
  <label for="username">Name</label>
  <input type="text" name="username" maxlength="12" required>
  <input type="submit" value="Create">
</form>
