<button id="send_button">Send</button>
<br />
<br />
<div>
  <span>Maps: <%= game_state.maps.size %></span>
  <br />
  <% game_state.maps.each do |map_name, map| %>
    <br />
    <div>
      <span>name: <%= map_name %></span>
      <br />
      <span>tiles: <%= map.tiles.to_s %></span>
      <br />
      <span>clients: <%= map.clients.size %></span>
    </div>
  <% end %>
</div>

<script>
  const MESSAGE_TYPE = {
    POSITION: 1,
    ENTER: 2,
  }

  const ws = new WebSocket(location.origin.replace('http', 'ws'));
  ws.binaryType = 'arraybuffer';
  ws.onmessage = msg => {
    console.log('msg');
    console.log(msg);

    console.log('msg.data');
    console.log(msg.data);

    console.log('decoder utf-8');
    const decoder = new TextDecoder("utf-8");
    console.log(decoder.decode(msg.data));
  };

  const sendTest = () => {
    const encoder = new TextEncoder("utf-8");
    const encoded = encoder.encode("Γεια σουκόσμ");

    const buffer = new ArrayBuffer(1 + encoded.length);
    const view = new DataView(buffer);

    encoded.forEach((byte, index) => view.setUint8(index + 1, byte));

    view.setUint8(0, MESSAGE_TYPE.ENTER, true);
    // view.setUint16(2, 500, true);
    console.log('buffer');
    console.log(buffer);

    ws.send(buffer);
  };

  const sendButton = document.getElementById('send_button');
  sendButton.addEventListener('click', sendTest);
</script>