<script>
  const wow = '5';

  const sendButton = document.getElementById('send_button');
  sendButton.addEventListener('click', () => console.log(wow));
</script>
<button id="send_button">Send</button>