<span>Welcome back to Sinite (Space Finite)</span>
<br/>
<br/>
<form action="/players/sign-in" method="post">
  <input type="hidden" name="authenticity_token" value='<%= env.session.string("csrf") %>'>
  <label for="username">username:</label>
  <input type="text" name="username" maxlength="12" required>
  <br>
  <label for="password">password:</label>
  <input type="password" name="password" required>
  <br>
  <br>
  <input type="submit" value="Sign In">
</form>