<html>
  <head>
    <title>Multiplayer Application</title>
     <meta charset="UTF-8">
     <!-- TODO: include the webpacked JS and CSS. Will need some logic to automatically include the hashed files... -->
  </head>
  <body>
    <%= content %>
  </body>
</html>