<html>
  <head>
      <title>Multiplayer Application</title>
      <meta charset="UTF-8">
      <%= Pulse::Views::Helpers::Webpack.stylesheet_pack_tag "main" %>
      <%= Pulse::Views::Helpers::Webpack.javascript_pack_tag "main" %>
  </head>
  <body>
    <div class="container mx-auto px-4 sm:px-2">
      <%= render "src/views/header/default.ecr" %>
      <%= content %>
    </div>
  </body>
</html>
